<script src="/node_modules/chart.js/src/chart.js"></script>
<style>
    .lorem {
        font-style: italic;
        text-align: justify;
        color: #AAA;
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--<i class="fa fa-bars"></i>-->
<div id='sidebar' class='leaflet-touch leaflet-bar' style="background-color:white;" [ngClass]="{'invisibleSidebar':!sidebarVisible}">
    <div (click)="sidebarVisible = !sidebarVisible" style="cursor: pointer; width: 30px; height: 30px; background-color: green; color: whitesmoke; font-weight: bold; font-size: 25px; text-align: center;">
        <div *ngIf=!sidebarVisible style="vertical-align: middle; line-height: 30px;">
            +
        </div>
        <div *ngIf=sidebarVisible style="vertical-align: middle; line-height: 30px;">
            -
        </div>
    </div>
    
    <div [ngClass]="{'invisible':!sidebarVisible}" style="width: 200px; margin: 15px;">
        <div style='text-align: center;'>
            <h1>Liikennedataa</h1>
        </div>
        <div>
            <h3>HSL</h3>
            Kartalla: {{bussService.count}}<br>
            Myöhässä: {{bussService.lateCount}} (+2min)<!--<br>
            Keskim. myöhässä: {{bussService.averageLate}}--><br>
            Etuajassa: {{bussService.earlyCount}} (+2min)
        </div>
        <div>
            <h3>TKL</h3>
            Kartalla: {{tampereBussService.count}}<br>
            Myöhässä: {{tampereBussService.lateCount}} (+2min)<br>
            Etuajassa: {{tampereBussService.earlyCount}} (+2min)
        </div>
        <div>
            <h3>VR</h3>
            Kartalla: {{trainService.count}}
        </div>
        <chart-component [lineChartData]=lineChartData_hsl [lineChartLabels]=lineChartLabels_hsl></chart-component>
        <chart-component [lineChartData]=lineChartData_tkl [lineChartLabels]=lineChartLabels_tkl></chart-component>
    </div>
</div>

<div id='map'
     leaflet 
     [leafletOptions]="options"
     [leafletLayers]="markers"
     (leafletMapReady)="onMapReady($event)">
</div>
<router-outlet></router-outlet>
